.landing {
  // border: 1px solid red;
  height: 100vh;
  background: white;
  font-size: 1rem;
  background-image: url("../../assets/images/background/woggle.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto 80%;
}
