.about {
  padding: 5rem 0;
  width: 100%;
  background: var(--pale-pink);
  overflow-x: hidden;

  & > .aboutContainer {
    max-width: 1300px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    gap: 3rem;
    justify-content: space-between;

    & > .leftContainer {
      width: 30%;
      font-size: 1.5rem;
      font-weight: 550;
      position: relative;

      & > .content {
        position: relative;
        z-index: 1;
        line-height: 1.4;
        padding: 3rem 0;
        padding-left: 1rem;

        & > :nth-child(-n + 3) {
          color: var(--accent);
        }
      }

      & > .whiteCover {
        position: absolute;
        inset: 0;
        left: -150%;
        background: white;
        border-radius: 0 300px 300px 0;
      }
    }

    & > .rightContainer {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 1rem;

      & > .title {
        font-size: 1.5rem;
        font-weight: 550;
      }

      & > .desc {
        font-size: 0.8rem;
        line-height: 1.5;

        & > span {
          font-weight: 600;
        }
      }

      & > .btn {
        background: var(--accent);
        border: 1px solid var(--accent);
        color: white;
        cursor: pointer;
        width: max-content;
        padding: 0.6rem 1.5rem;
        border-radius: 16px;
        font-size: 0.8rem;
        transition: all linear 0.3s;

        &:hover {
          color: var(--accent);
          background: transparent;
        }
      }
    }
  }
}
