.gallery {
  width: 100%;
  background: var(--primary-color);
  color: white;

  & > .content {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > .title {
      font-size: 1.5rem;
      font-weight: 550;
      text-align: center;
    }

    & > .galleryGrid {
      width: max-content;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-row-gap: 2rem;
      grid-column-gap: 2rem;
      margin-top: 3rem;

      & > img {
        aspect-ratio: 1/1;
        border-radius: 32px;
        cursor: pointer;
        transition: all linear 0.3s;

        &:hover {
          transform: translate(-15px, -10px);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    padding: 0 1rem;

    & > .content {
      & > .title {
        width: 100%;
      }

      & > .galleryGrid {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);

        & > img {
          width: 100%;
        }
      }
    }
  }
}
